---
layout: landing-page
---    
<section id="banner">
    <div class="inner">
        <h1>OPEN SOURCING</h1>
        <h2>Next Genration of Retail Technologies</h2>
    </div>
</section>
  
    
<!----------------------------Start of Projects {{ post.excerpt }}---------------------------->
<div>
<div class="content-title">
        <span>PROJECTS</span>  
    </div>


<div class="projectcard">
    {% for post in site.categories.project %}
        <div class="p_wrapper">
            <div class="major">
                <img class="fit image" src="/engineering-fynd/images/{{post.img}}">
                
            </div>
            <section class="p_container">
                <h3>{{ post.title }}</h3>
                <h4>{{post.description}}</h4>
            </section>
            <section class="p_special">
                <a href="{{ site.baseurl }}{{ post.url }}" class="view">VIEW PROJECT</a>
            </section>
        </div>
    {% endfor %}
</div>
  
<span class="view_all">
    <button class="view_rest"><a href="{{ site.baseurl }}/projects.html" class="view_all_link">VIEW ALL PROJECTS</a></button>

</span>    

</div>  


 

<div>

    <div class="content-title">
        <span>FROM OUR BLOG</span>  
    </div>
                
    <div class="blogcard">
    {% for post in site.categories.blog %}
        <div class="b_wrapper">
            
            <section class="b_container">
                <h3>{{ post.title }}</h3>
                <h4 id="author">By {{post.author}}</h4>
            </section>
            <section class="b_special">
                <a href="{{ site.baseurl }}{{ post.url }}" class="view">READ BLOG</a>
            </section>
        </div>
    {% endfor %}
    </div>


<span class="view_all">
    <button class="view_rest"><a href="https://blog.gofynd.com/" class="view_all_link" target="_blank">VIEW ALL BLOG POSTS</a></button>

</span>    
    
</div>
       
        
   
<!----------------------------End of Blog---------------------------->
    
    

<!----------------------------Start of Team---------------------------->
    <div class="team">
        <div class="team_container">
        <h1>MEET THE TEAM</h1>
        <p id="about">Fynd builds technologies that bring people together in the real world - which is often inspiring, sometimes daunting, but ideally a life-changing experience. With 30 million guests all time (and just 20 million in 2014 alone), we're constantly tackling challenges in search algorithms, payments, fraud prevention, infrastructure and growth</p>
        
    <div>
       <button class="view_team"><a href="team.html" class="view_all_link">VIEW FULL TEAM</a></button>     
    </div>
    
        

        </div>
        
        
    </div>
<!----------------------------End of Team---------------------------->
