<!DOCTYPE html>
<html>
<!----------------------------Start of Footer---------------------------->
    <footer>
        <div class="jobs">
            <p class="hiring">Want to work with us! We are Hiring</p>
            <a href="#" id="jobs-view">Fynd Roles</a>
        </div>
        
        <div class="links">
            <ul>
                <li><a href="index.html" >Home</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Dev</a></li>
                <li><a href="#">TVC</a></li>
                <li><a href="#">New App</a></li>
                <li><a href="#">Press</a></li>
                </ul>
            
            <ul>
                <li><a href="#" >Shipping</a></li>
                <li><a href="#">Returns</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">For Brands</a></li>
                </ul>
        </div>
        
        <a href="#" id="appstore"><img src="#"></a>
        <a href="#" id="playstore"><img src="#"></a>
        
        <form action="#">
            <input type="text" name="Mobile Number" value="#">
            <input type="submit" value="Submit">
        </form>
        
        <div>
            <p>#Madeinindia<br>&copy; 2017 Shopsense Retail Technologies</p>
        </div>
    
    </footer>
    
<!----------------------------End of Footer---------------------------->

</html>