<!DOCTYPE html>
<html>
<!----------------------------Start of Footer---------------------------->
    <footer>
        <div class="jobs">
            <div class="hiring">Want to work with us! We are hiring</div>
            <span class="roles">
    <button class="view_rest"><a href="{{ site.baseurl }}{{ post.url }}" class="view_all_link">FYND ROLES</a></button>

            </span>
        </div>
    <div class="footer_body">
      <div class="links">
            <div class="links1">
                <div class="footer_link"><a  class="black_link" href="index.html" >Home</a></div>
                <div class="footer_link">
                    <a  class="black_link" href="http://info.gofynd.com/careers.html">Careers</a>
                </div>
                <div class="footer_link">
                    <a  class="black_link" href="https://blog.gofynd.com/">Blog</a>
                </div>
                <div class="footer_link">
                    <a  class="black_link" href="http://info.gofynd.com/contact.html">Contact us</a>
                </div>
                <div class="footer_link">
                    <a  class="black_link" href="http://info.gofynd.com/faqs.html">FAQ</a>
                </div>
                <div class="footer_link">
                    <a  class="black_link" href="http://info.gofynd.com/privacy.html">Privacy</a>
                </div>
                <div class="footer_link">
                    <a  class="black_link" href="http://info.gofynd.com/terms.html">Terms</a>
                </div>
                <div class="footer_link"><a  class="black_link" href="http://info.gofynd.com/for_brands.html">For Brands</a></div>
            </div>

        </div>

    </div>      
        
        
        
        <div class="footer_bottom">
            <p>#Madeinindia | &copy; 2017 Shopsense Retail Technologies</p>
        </div>
    
    </footer>
    
<!----------------------------End of Footer---------------------------->

</html>
