<!DOCTYPE html>
<html>
<!----------------------------Start of Footer---------------------------->
    <footer>
        <div class="jobs">
            <div class="hiring">Want to work with us! We are Hiring</div>
            <span class="roles">
    <button class="view_rest"><a href="{{ site.baseurl }}{{ post.url }}" class="view_all_link">FYND ROLES</a></button>

            </span>
        </div>
    <div class="footer_body">
      <div class="links">
            <div class="links1">
                <div class="footer_link"><a  class="black_link" href="index.html" >Home</a></div>
                <div class="footer_link"><a  class="black_link" href="#">Careers</a></div>
                <div class="footer_link"><a  class="black_link" href="#">Blog</a></div>
                <div class="footer_link"><a  class="black_link" href="#">Contact us</a></div>
                <div class="footer_link"><a  class="black_link" href="#">FAQ</a></div>
                <div class="footer_link"><a  class="black_link" href="#">Dev</a></div>
                <div class="footer_link"><a  class="black_link" href="#">TVC</a></div>
                <div class="footer_link"><a  class="black_link" href="#">New App</a></div>
                <div class="footer_link"><a  class="black_link" href="#">Press</a></div>
            </div>
            
            <div class="links2">
                <div class="footer_link"><a  class="black_link" href="#" >Shipping</a></div>
                <div class="footer_link"><a  class="black_link" href="#">Returns</a></div>
                <div class="footer_link"><a  class="black_link" href="#">Privacy</a></div>
                <div class="footer_link"><a  class="black_link" href="#">Terms</a></div>
                <div class="footer_link"><a  class="black_link" href="#">For Brands</a></div>
            </div>
        </div>
        
        <div class="hiring">DOWNLOAD THE APP</div>
        <div class="download">
            
            <a href="#" id="appstore"><img src="img/appstore_button.png"></a>
            <a href="#" id="playstore"><img src="img/playstore_button.png"></a>
        
        </div>  
    </div>      
        
        
        
        <div class="footer_bottom">
            <p>#Madeinindia | &copy; 2017 Shopsense Retail Technologies</p>
        </div>
    
    </footer>
    
<!----------------------------End of Footer---------------------------->

</html>