
<head>
    <meta charset="UTF-8">
    <title>Home | gofynd.io - Fynd Engineering</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <link rel="shortcut icon" type="image/png" href="img/fabicon_32.png" />
    
    <script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    
</head>




<!--

<script type="text/javascript">
	$(document).ready(function() {
	 	$("#btn").click(function() {
		var path ="https://api.github.com/users/airbnb/repos";
		$.getJSON(path, function (data) {
	        $.each(data, function (i, field) {
	        	
                
                var textNode = document.createTextNode(i+ " " +JSON.stringify(field));
	            $("#mydiv").append(textNode);
                
                var textNode = document.createTextNode(i+ " " +JSON.stringify(field));
	            $("#mydiv").append(textNode);
                
                
	        	});
	    	});
		}); 
	});
</script>



	Ion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)


<!DOCTYPE html>
<html>
    
    
<head>
    <meta charset="UTF-8">
    <title>Home | gofynd.io - Fynd Engineering</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="shortcut icon" type="image/png" href="img/fabicon_32.png" />
</head>
    
<body>
  
    
    
</body>
</html>

-->