
<!----------------------------Start of Header---------------------------->
    <div class="top">
                <span class="top-text">
                    <span>gofynd.io - FYND ENGINEERING</span>
                </span>
    </div>

    <div class="header">

            <a href="{{ site.baseurl }}/" id="Fynd-logo">
                <div id="logo"></div>
            </a>

        <div class="nav">
            <div><a href="{{ site.baseurl }}/">HOME</a></div>
             <div><a href="{{ site.baseurl }}/projects.html">PROJECTS</a></div>
             <div><a href="{{ site.baseurl }}/blog.html">BLOG</a></div>
             <div><a href="{{ site.baseurl }}/team.html">TEAM</a></div>
             <div><a href="https://www.gofynd.com/" id="gofynd-redirect" >gofynd.com</a></div>
        </div>
    </div>

<!--
    <table class="header">
            
        <tr class="header-inner">
            <td id="logo">
                
            </td>
                    
           
            <td  class="nav">   
                <ul id="menu">
                        <li><a href="{{ site.baseurl }}/">HOME</a></li>
                        <li><a href="{{ site.baseurl }}/projects.html">PROJECTS</a></li>
                        <li><a href="{{ site.baseurl }}/blog.html">BLOG</a></li>
                        <li><a href="{{ site.baseurl }}/team.html">TEAM</a></li>
                        <li><a href="https://www.gofynd.com/" id="gofynd-redirect" >gofynd.com</a></li>
                </ul>      
            </td>   
        </tr>   
     </table>
-->
<!----------------------------End of Header---------------------------->



<!----------------------------

<a href="javascript:void(0);" class="menu-icon" onclick="myFunction()">&#9776;</a>

<header>
            
            
            <div id="header-inner">
               <div id="logo">
                <a href="{{ site.baseurl }}/" id="Fynd-logo"></a>
                </div>
                    
           
                <div class="nav" id="mynav">
                     <a href="javascript:void(0);" class="menu-icon" onclick="myFunction()">&#9776;</a>
                    <ul id="menu">
                        <li><a href="{{ site.baseurl }}/">HOME</a></li>
                        <li><a href="{{ site.baseurl }}/projects.html">PROJECTS</a></li>
                        <li><a href="{{ site.baseurl }}/blog.html">BLOG</a></li>
                        <li><a href="{{ site.baseurl }}/team.html">TEAM</a></li>
                    </ul>
                    
                </div>
                <div id="gofynd-redirect">
                    <a href="https://www.gofynd.com/" >gofynd.com</a>
                </div>
            </div>
     </header>

---------------------------->
