<!DOCTYPE html>
<html>
    
    {% include /head.html %}

	<body id="top">

        {% include /header.html %}
        
        <!----------------------------Start of Banner--------
    <section class="banner">
        <div class="banner-inner">
            <img src="#">
            <h1 class="page-title">{{ page.title }}</h1>
            <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}Page Subtitle</p>
        </div>
    </section>
End of Banner---------------------------->

        {{ content }}

        {% include /footer.html %}

    </body>

</html>
