
<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

    
<!----------------------------Start of Banner---------------------------->
        
   <section id="banner">
        <div class="p_banner">
            <img class="fit image" src="http://fynd-static.s3.amazonaws.com/engineering-fynd/{{page.img}}">
            <h1 class="p_title">{{ page.title }}</h1>
            <h2 class="subtitle">{{ page.description }}</h2>
            <input id="projectname" type="hidden" value="{{ page.name }}"/>
        </div>
    </section>
<!----------------------------End of Banner---------------------------->
        
<script>
function showHint(projectname) {
    if (projectname.length == 0) {
        document.getElementById("fork_count").innerHTML = "";
        return;
    } else {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var json_resp = JSON.parse(this.responseText)
                document.getElementById("fork_count").innerHTML = json_resp.forks_count;
            }
        };
        xmlhttp.open("GET", "https://api.github.com/repos/gofynd/" + projectname, true);
        xmlhttp.send();
    }
}
showHint(document.getElementById("projectname").value)

</script>
  
    
    <div class="post-content">
        <div class="nav">
            <div>
                <h5 id="fork_count">0</h5>
                <h6>Forks</h6>
            </div>

        </div>

           <div class="post-body">
                {{ content }}
           </div>

           <div class="github_link">
            <div class="github">See the source code</div>
            <span class="github_button">
    <button class="view_rest"><a href="{{ page.github_url }}" class="view_all_link" target="_blank">Github</a></button>

            </span>
        </div>

    </div>


        
           
        {% include /footer.html %}

    </body>

</html>



