
<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

    
<!----------------------------Start of Banner---------------------------->
        
   <section id="banner">
        <div class="p_banner">
            <img class="fit image" src="http://fynd-static.s3.amazonaws.com/engineering-fynd/{{page.img}}">
            <h1 class="p_title">{{ page.title }}</h1>
            <h2 class="subtitle">{{ page.description }}</h2>
        </div>
    </section>
<!----------------------------End of Banner---------------------------->
        

  
    
    <div class="post-content">
           <div class="post-body">
                {{ content }}
           </div>

           <div class="github_link">
            <div class="github">See the code on github</div>
            <span class="github_button">
    <button class="view_rest"><a href="{{ post.github_url }}" class="view_all_link">GITHUB</a></button>

            </span>
        </div>

    </div>


        
           
        {% include /footer.html %}

    </body>

</html>




<!---

<section id="main" class="project">

    

        <section id="banner">
        <div class="inner">
            <img src="{{ post.img }}">
            <h1>{{ post.title }}</h1>
            <p class="subtitle">{{ post.description }}</p>
        </div>
    </section>

    
        <div class="wrapper {% cycle 'style1', 'style2' %}">

            <section class="container">
                  {{ content }}
            </section>
        </div>

</section>






 





<div class="wrapper style1">
    <article class="container">
        <header class="major">
            <h2 class="post-title">{{ page.title }}</h2>
                <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
        </header>

        <section class="post-content">
            {{ content }}
        </section>
        
    </article>

</div>

-->





